﻿@model Elibrary.Models.BooksModel

@{
    ViewData["Title"] = "CREATE";
}

<h1>CREATE NEW BOOK</h1>

<hr />
<div class="row">
    <div class="col-md-4">
       
        <form asp-controller="Books" asp-action="Create" method="post"
              enctype="multipart/form-data">

            <div class="form-group">
                <input type="file" name="file" />

            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                @Html.LabelFor(model => model.BookDetails.Title, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.BookDetails.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookDetails.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BookDetails.Description, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.BookDetails.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookDetails.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BookDetails.Gender, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.BookDetails.Gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookDetails.Gender, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BookDetails.Autor, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.BookDetails.Autor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookDetails.Autor, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="CREATE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="Index">BACK TO LIST</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
