﻿@model Elibrary.Models.BooksModel

@{
    ViewData["Title"] = "Delete";
}

<h1>DELETE BOOK</h1>

<h3>ARE YOU SURE YOU WANT TO DELETE THIS BOOK?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Books)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookDetailsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookDetailsId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a  class="btn btn-warning" asp-action="Index">BACK TO LIST</a>
    </form>
</div>
