﻿@model Elibrary.Models.BooksViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>BOOK DETAILS</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayFor(model => model.Books.Books)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayFor(model => model.BookDetails.Description)
        </dt>
    </dl>
</div>
<div>

    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Books.BookId">EDIT</a> |
    <a class="btn btn-info" asp-action="Download" asp-route-fileName="@Model.Books.Books">DOWNLOAD</a>  |
    <a class="btn btn-info" onclick="play('@Model.Books.Books')">LISTEN</a>  |

    <a class="btn btn-warning" asp-action="Index">BACK TO LIST</a>

 
</div>


<script>
    function play(filename) {
        let rfilename = filename.split('.')[0]
        Swal.fire({
            title: '<strong>'+rfilename+'</strong>',
            html:
   `            <audio controls>
                    <source src="https://localhost:44397/Books/Download?fileName=${rfilename}.mp3&folder=AudioBooks" type="audio/mpeg">
                </audio>`,
            showCloseButton: true,
            focusConfirm: false,
 
        })
    }
</script>