﻿@model Elibrary.Models.BooksModel

@{
    ViewData["Title"] = "Edit";
}

<h1>EDIT BOOK</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" />
            <div class="form-group">
                <label asp-for="Books" class="control-label"></label>
                <input asp-for="Books" class="form-control" />
                <span asp-validation-for="Books" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookDetailsId" class="control-label"></label>
                <input asp-for="BookDetailsId" class="form-control" />
                <span asp-validation-for="BookDetailsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SAVE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="Index">BACK TO LIST</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
