﻿@model IEnumerable<Elibrary.Models.BooksViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}



<h1>BOOKS</h1>
@if (User.Identity.Name == "Admin@gmail.com")
{
    <p>
        <a class="btn btn-secondary" asp-action="Create">CREATE NEW BOOK</a>
    </p>

}

<table class="table table table-striped" id="BookTable" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th align="left">
                @Html.DisplayNameFor(model => model.BookDetails.Title)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.BookDetails.Autor)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.BookDetails.Gender)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.BookDetails.Description)
            </th>
            <th></th>
            @if (User.Identity.Name == "Admin@gmail.com")
            {
                <th align="center"></th>
                <th align="center"></th>
            }


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
           
            <td align="left">
                @Html.DisplayFor(modelItem => item.BookDetails.Title)
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => item.BookDetails.Autor)
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => item.BookDetails.Gender)
            </td>
            <td align="left">
                @Html.DisplayFor(modelItem => item.BookDetails.Description)
            </td>
          
            <td align="center"><a class="btn btn-info" asp-action="Details" asp-route-id="@item.Books.BookId">DETAILS</a> </td>

            @if (User.Identity.Name == "Admin@gmail.com")
            {
                <td align="center"><a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Books.BookId">EDIT</a> </td>
                <td align="center"><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Books.BookId">DELETE</a> </td>
            }


        </tr>
        }
    </tbody>
</table>


<link href="~/DataTables/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
<script src="~/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>


<script>
    $(function () {
        $("#BookTable").dataTable();
    })
</script>
